*.autosave
*.user
*.user.*
*.pro.user
*.pro.user.*


CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile

build/
build-*/

qrc_*.cpp
moc_*.cpp
ui_*.h
*.qmlc
*.jsc
*.qmltypes
*.qmlproject.user
*.qmlproject.user.*


*.o
*.obj
*.gch
*.pch
*.lo
*.la
*.al
*.libs
*.so
*.so.*
*.dylib
*.dll
*.a
*.lib
*.exe
*.out
*.app


*.log
*.tmp
*.bak
*.swp
*~

.idea/
.vscode/


.DS_Store
Thumbs.db